.list-group-item {
  line-height: 2.5;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
/* label {
  display: inline-block;
  margin: 10px;
} */
/* h1{
  font-family: 'Audiowide', cursive;
} */


/* .logo-img{
  position: absolute;
  margin: 10px 15px 15px 10px;
} */

/* 
.container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
  
} */
/* search filter css */
#searchInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#data {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#data th, #data td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#data tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#data tr.header, #data tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}